@model LibraryApp.Models.Book

<h2>Add a New Book</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>Title</label>
        <input type="text" name="Title" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Author</label>
        <input type="text" name="Author" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Publisher</label>
        <input type="text" name="Publisher" class="form-control" required />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input type="number" name="Price" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
